body {
  background: url(/images/all_BG.png) no-repeat;
  height: 5321px;
  width: 1920px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header {
  width: 100%;
  z-index: 3;
  position: relative;
  padding-top: 0.5rem;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  width: 0px;
  height: 0px;
}

.container {
  margin-left: 360px;
  margin-right: auto;
  width: 96rem;
}

.log_link {
  width: 19rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  margin-top: 1rem;
}

.log_link a {
  display: block;
}

.bg_logo {
  width: 190px;
  height: 101px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 60px;
}

.header_block {
  width: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -0.5rem;
  margin-left: 40px;
}

.header_block a {
  font-size: 1.2rem;
  width: 50%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.wrapper {
  position: relative;
  width: 100%;
}

.frame1_slogan {
  margin-left: 560px;
  margin-right: auto;
  margin-top: 100px;
}

.frame1_txtslogan {
  background: url(/images/test.png);
  width: 597px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -70px;
}

.frame1_txtslogan p {
  color: white;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
}

.frame_time {
  height: 110px;
  margin-left: 770px;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.frame_time p {
  font-family: UVNLLQ;
  color: black;
  font-size: 120px;
  margin-top: -45px;
  font-weight: bold;
  margin-left: 25px;
}

.frame1_car {
  background: url(/images/headermain.png) no-repeat;
  margin-left: 635px;
  width: 670px;
  height: 115px;
  margin-top: 10px;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn_01 {
  background: url(../images/baodanh.png) no-repeat;
  height: 50px;
  background-size: 100%;
  margin-left: 20px;
  margin-top: 25px;
  width: 150px;
  cursor: pointer;
}

.btn_01 p {
  text-align: center;
  margin-top: 10px;
  line-height: 50px;
  font-family: UVNLLQ;
}

.txt_car {
  margin-left: 28px;
  margin-top: 0;
  font-family: Tahoma;
  font-size: 15px;
}

.gift_icon1 {
  background: url(../images/nentron.png) no-repeat;
  width: 85px;
  height: 85px;
  background-size: 100%;
  margin-right: 10px;
  margin-left: 25px;
  position: relative;
}

.gift_icon1 img {
  position: absolute;
  left: 10px;
  top: 15px;
}

.gift_icon2 {
  background: url(../images/nentron.png) no-repeat;
  width: 85px;
  height: 85px;
  background-size: 100%;
  margin-right: 10px;
  margin-left: 15px;
  position: relative;
}

.gift_icon2 img {
  position: absolute;
  left: 16px;
  top: 13px;
}

.gift_icon3 {
  background: url(../images/nentron.png) no-repeat;
  width: 85px;
  height: 85px;
  background-size: 100%;
  margin-left: 15px;
  position: relative;
}

.gift_icon3 img {
  position: absolute;
  left: -4px;
  top: 10px;
}

.gift_icon4 {
  background: url(../images/nentron.png) no-repeat;
  width: 85px;
  height: 85px;
  background-size: 100%;
  margin-left: 20px;
  position: relative;
}

.gift_icon4 img {
  position: absolute;
  left: 10px;
  top: 10px;
}

.frame_right {
  margin-top: 15px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@font-face {
  font-family: UTM;
  src: url(/fonts/umtgodswordb.ttf);
}
@font-face {
  font-family: Tahoma;
  src: url(/fonts/tahoma.ttf);
}
@font-face {
  font-family: UTMGOD;
  src: url(/fonts/umtgodswordr.ttf);
}
@font-face {
  font-family: UVNLLQB;
  src: url(/fonts/unicode.display.UVNLacLongQuan_B.TTF);
}
@font-face {
  font-family: UVNLLQ;
  src: url(/fonts/UVNLacLongQuanR.TTF);
}
@font-face {
  font-family: SVN;
  src: url(/fonts/SVN.ttf);
}
.frame2 {
  margin-top: 135px;
  display: block;
}

.frame_titlle {
  background: url(../images/maintop.png) no-repeat;
  height: 110px;
  margin-left: 400px;
  margin-top: 50px;
}

.header_titlle {
  font-size: 30pt;
  color: #546292;
  font-weight: border;
  text-transform: uppercase;
  font-family: UTM;
  padding-left: 400px;
  padding-top: 9px;
}

.text_titlle {
  padding-left: 360px;
  font-size: 16pt;
  font-family: Tahoma;
  margin-top: -15px;
  color: #4a5185;
  letter-spacing: 2px;
}

.frame2_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frame2_car1 {
  background: url(/images/frame2_car1.png);
  width: 420px;
  height: 515px;
  position: relative;
}

.frame2_car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frame2_right {
  margin-top: 60px;
}

.frame2_item {
  background: url(/images/titlle_car.png) no-repeat;
  width: 70px;
  height: 200px;
  position: absolute;
  left: 80px;
  top: 25px;
}

.frame2_item p {
  font-size: 10pt;
  color: #b4c9e2;
  font-family: UTM;
  padding-top: 50px;
  margin-left: 3px;
  word-spacing: 5px;
}

.car1_content {
  margin-top: 390px;
}

.car1_content p {
  font-family: Tahoma;
  font-size: 10pt;
  margin-left: 83px;
  color: #40597f;
  margin-top: 5px;
}

.btn_type1 {
  background: url(/images/btn_nhan.png);
  width: 139px;
  height: 42px;
  background-size: 100%;
  margin-left: 135px;
  margin-top: -50px;
  position: relative;
}

.btn_type1 p {
  position: absolute;
  text-align: center;
  font-size: 10pt;
  line-height: 42px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  left: -29px;
  top: -5px;
}

.car2_content {
  margin-top: 340px;
}

.car2_content-text {
  text-align: center;
  font-size: 10pt;
  color: #40597f;
  margin-left: -50px;
  margin-top: 5px;
}

.btn_car2 {
  background: url(/images/btn_uudai.png);
  width: 139px;
  height: 42px;
  margin-left: 130px;
  background-size: 100%;
  cursor: pointer;
}

.btn_car2 p {
  text-align: center;
  line-height: 42px;
  font-family: Tahoma;
  font-size: 13pt;
  color: whitesmoke;
}

.frame2_car2 {
  background: url(/images/frame2_car2.png) no-repeat;
  width: 450px;
  height: 520px;
  position: relative;
}

.frame2_info {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nguoichoi {
  color: #6889d0;
}

.frame2_text-info {
  padding-top: 10px;
  padding-left: 25px;
}

.frame2_info-sever {
  background: url(/images/bg_frame2_info.png);
  width: 210px;
  height: 135px;
  background-size: 100%;
  position: relative;
}

.link_out {
  position: absolute;
  right: 15px;
  top: 103px;
}

.custom-select {
  width: 160px;
  height: 35px;
  padding-left: 15px;
  margin-left: 25px;
  margin-top: -10px;
}

.frame2_bg-type2 {
  background: url(/images/time_kc.png) no-repeat;
  width: 310px;
  height: 50px;
  background-size: 100%;
  margin-top: -8px;
  margin-left: 20px;
}

.frame2_bg-type2 p {
  text-align: center;
  font-size: 40px;
  font-family: UTMGOD;
  color: #f1d792;
  line-height: 25px;
}

.text_info {
  font-size: 20px;
  text-align: center;
  font-family: Tahoma;
}

.txt_kc {
  text-align: center;
  color: #9db7d0;
  font-size: 22px;
}

.bg_type2 {
  background: url(/images/btn_kc.png);
  width: 200px;
  height: 150px;
  position: relative;
  margin-top: -20px;
  margin-left: 20px;
}

.bg_type2 p {
  text-align: center;
  line-height: 60px;
  font-family: UTM;
  font-size: 20px;
  cursor: pointer;
  color: #9e7553;
  text-transform: uppercase;
  position: absolute;
  top: 90px;
  left: 35px;
}

.frame3 {
  margin-top: -125px;
  display: block;
}

.frame3_content {
  background: url(/images/background_frame2.png);
  width: 1200px;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frame3_content-full {
  margin-left: 135px;
  margin-top: 50px;
}

.frame3_slide-logo {
  background: url(/images/logo_frame2.png);
  width: 279px;
  height: 232px;
  margin-top: -10px;
}

.frame3_text-slide p {
  font-size: 22pt;
  font-family: UTMGod;
  color: #48537e;
  text-transform: uppercase;
  margin-left: 20px;
}

.frame3_actor {
  position: absolute;
  background: url(/images/thienson.png);
  width: 1371px;
  height: 610px;
  margin-left: 165px;
  pointer-events: none;
}

.btn_xemchitiet {
  background: url(/images/btn_xemchitiet.png);
  width: 109px;
  height: 34px;
  background-size: 100%;
  margin-left: 575px;
  margin-top: 570px;
  cursor: pointer;
}

.btn_xemchitiet p {
  font-size: 10pt;
  font-family: Tahoma;
  text-transform: uppercase;
  line-height: 34px;
  text-align: center;
  color: white;
}

.tabs {
  position: absolute;
  top: 460px;
  left: 400px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 500px;
  height: 250px;
  padding: 20px 30px;
  overflow: hidden;
}

.tabs .tab-header {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs .tab-header > div {
  width: calc(100% / 4);
  text-align: center;
  color: #888;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}

.tabs .tab-header > div > i {
  display: block;
  margin-bottom: 5px;
}

.tabs .tab-header > div.active {
  color: #dd643f;
  font-size: 15px;
}

.tabs .tab-body {
  position: relative;
  height: calc(100% - 60px);
  padding: 10px 5px;
}

.tabs .tab-body > div {
  position: absolute;
  top: -200%;
  opacity: 0;
  color: #a9afc3;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: opacity 500ms ease-in-out 0ms, -webkit-transform 500ms ease-in-out 0ms;
  transition: opacity 500ms ease-in-out 0ms, -webkit-transform 500ms ease-in-out 0ms;
  transition: opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms;
  transition: opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms, -webkit-transform 500ms ease-in-out 0ms;
  font-family: Tahoma;
}

.tabs .tab-body > div.active {
  top: 0px;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.frame4 {
  margin-top: -50px;
  display: block;
  position: relative;
}

.frame4_content {
  margin-top: -832px;
  margin-left: 20px;
}

.slide-format {
  margin-top: 800px;
  margin-left: auto;
  margin-right: auto;
}

.slide {
  margin-right: auto;
  margin-left: auto;
}

.slide-title {
  position: absolute;
  left: 60px;
  top: -176px;
}

.slide-image {
  margin-top: 120px;
  width: 918px;
  height: 523px;
  margin-left: auto;
  margin-right: auto;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  margin-left: -600px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: 110px;
}
.slick-dots li {
  margin: 0 0.25rem;
}
.slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  padding: 10px;
  border: none;
  background-image: url("/images/blue-dots.png");
  background-size: contain;
  text-indent: -9999px;
}
.slick-dots li.slick-active button {
  background-image: url("/images/yellow-dots.png");
}

.frame5 {
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.text_titlle5 {
  padding-left: 240px;
  font-size: 16pt;
  font-family: Tahoma;
  margin-top: -20px;
  color: #4a5185;
  letter-spacing: 2px;
}

.frame5_content {
  margin-left: 590px;
  margin-right: auto;
  margin-top: 55px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nhanPVC {
  margin-top: -70px;
}

.frame5_car1 {
  background: url(/images/nohove1.png) no-repeat;
  width: 160px;
  height: 553px;
  cursor: pointer;
  margin: 0 40px;
}

.frame5_car1:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  background: url(/images/hover1.png);
}

.frame5_car2 {
  background: url(/images/nohover2.png) no-repeat;
  width: 160px;
  height: 553px;
  cursor: pointer;
}

.frame5_car2:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  background: url(/images/hover2.png);
}

.frame5_car3 {
  background: url(/images/nohover3.png) no-repeat;
  width: 160px;
  height: 553px;
  cursor: pointer;
  margin-left: 40px;
}

.frame5_car3:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  background: url(/images/hover3.png);
}

#img_frame5 {
  width: 738px;
  height: 855px;
  margin-top: -150px;
}

.frame6 {
  margin-top: -25px;
  margin-left: -25px;
}

.text_titlle6 {
  text-align: center;
  padding-left: 10px;
  font-size: 16pt;
  font-family: Tahoma;
  margin-top: -15px;
  margin-left: -370px;
  color: #4a5185;
  letter-spacing: 2px;
}

.frame6_content {
  margin-left: 450px;
  margin-right: auto;
  margin-top: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frame6_hover1 {
  background: url(/images/f6_nohover1.png) no-repeat;
  width: 323px;
  height: auto;
  margin-top: -70px;
  cursor: pointer;
}

.frame6_hover1:hover {
  background: url(/images/f6_hover1.png) no-repeat;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.frame6_hover2 {
  background: url(/images/f6_nohover2.png) no-repeat;
  width: 323px;
  height: 273px;
  cursor: pointer;
}

.frame6_hover2:hover {
  background: url(/images/f6_hover2.png) no-repeat;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.frame6_hover3 {
  background: url(/images/f6_nohover3.png) no-repeat;
  width: 323px;
  height: 273px;
  cursor: pointer;
}

.frame6_hover3:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: url(/images/f6_hover3.png) no-repeat;
}

.footer_content {
  background: #000000;
  width: auto;
  height: auto;
  margin-top: 170px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-gosu {
  margin-left: 450px;
  cursor: pointer;
}

.address p {
  color: white;
  font-size: 15px;
  font-family: Tahoma;
  margin-top: 30px;
}

.address_ct {
  margin-top: -29px;
}

.logo_conbinet {
  margin-top: 30px;
  margin-left: 55px;
  cursor: pointer;
}

.navright-group {
  position: fixed;
  right: 0rem;
  top: 16rem;
  width: auto;
  height: 20rem;
  z-index: 4;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navright__btn-type01 {
  background: url(/images/btn_taigame.png) no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 18rem;
  height: 6.4rem;
  cursor: pointer;
  display: block;
  position: relative;
}

.bgr_nav {
  background: url(/images/bg-btn-card.png) no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 18rem;
  height: 17.1rem;
  -ms-grid-columns: (minmax(0, 1fr))[2];
  grid-template-columns: repeat(2, minmax(0, 1fr));
  display: -ms-grid;
  display: grid;
  position: relative;
  padding: 0.5rem;
}

.nav_block {
  height: 8.4rem;
  display: block;
  position: relative;
}

.centered {
  width: 100%;
  text-align: center;
  position: static;
  top: 50%;
  left: 50%;
  padding: 8px;
}

.centered img {
  height: 3rem;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.centered p {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1rem;
  color: white;
}

.navright__bg-type2 {
  position: relative;
  background: url(/images/bg_frame2_info.png) no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 18rem;
  height: 7.1rem;
}

.nav1_text-type2 {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1rem;
}

.nav2_text-type2 {
  line-height: 1;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  color: white;
  font-family: UTM;
  margin-top: -15px;
}

.top {
  background: url(/images/obj-top.png);
  background-size: 100% 100%;
  -webkit-transition-duration: 700ms;
          transition-duration: 700ms;
  position: relative;
  height: 6rem;
  width: 9rem;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.top p {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  color: white;
  line-height: 6rem;
}